/* Useless Coding style */

body {
	background:	#fff;
	color:		#000;
	font-family: Georgia, serif;
	font-size:	10pt;
	line-height: 1.4em;
	margin:		0;
}

a {
	color:		#56b;
	text-decoration: none;
	-webkit-transition: 0.2s;
}

a:hover {
	text-decoration: underline;
}

a img {
	border:		none;
}

div.wrapper {
	margin:		0 auto 0;
	padding:	0 0 0 3em;
	width:		750px;
}

#head {
	width:		100%;
	margin:		0 0 1.5em 0;
	background:	#bec2c7 url(back.jpg);
	border-bottom: 1px solid #888;
}

#foot {
	width:		100%;
	margin:		3em 0 -3em 0;
	background:	#bec2c7 url(back.jpg);
	border-top: 1px solid #888;
	clear:		both;
	overflow:	hidden;
}

#uclogo {
	display:	block;
	float:		right;
	margin:		0 28px 1em 2em;
}

h1 {
	font-size:	3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.25em;
	margin:		1.5em 0 0.25em 0;
	padding:	0;
}

#nav {
	margin:		0em 0 1em 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;	
	font-size:	.8em;
	list-style:	none;
	padding:	1em 0 0 0;
	overflow:	hidden;
}

#nav li {
	float:		left;
	margin:		0 1.5em 0 0;
	padding:	0;
}

#nav li.act {
	font-weight: bold;
}

#head a, #foot a {
	color:		#000;
	text-shadow: none;
	text-decoration: none;
}

#head a:hover, #foot a:hover {
	color:		#56b;
}

#head ul.toc {
	list-style:	none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	max-width:	100%;
	padding:	0;
	margin:		0 28px 0em 0;
	overflow:	hidden;
	font-size:	1em;
	line-height: 1em;
}

#head ul.toc li {
	float:		left;
	margin:		0 1.5em 1em 0;
	padding:	0.5em 0 0.4em;
	border-bottom: 2px solid transparent;
	font-weight: bold;
}

#head ul.toc li.main {
	margin-right: 0;
	padding:	0;
	float:		right;
}

#head ul.toc li.act {
	border-color: #888;
}

#hero {
	margin:		0 0 1.5em 0;
	width:		720px;
	border:		1px solid #888;
	padding:	0;
}

#hero img {
	display:	block;
	margin:		0;
}

div.aside {
	margin:		0 30px 2em 2em;
	width:		16em;
	clear:		right;
	float:		right;
}

img.aside {
	float:		right;
	margin:		-1em -1em 1em 2em;
}

.msg {
	border:		1px solid #56b;
	margin:		1.5em 0 2em 0;
	padding:	0.5em 1em 0.5em;
	width:		32em;
}

div.product {
	position:	relative;
	background:	#eee;
	color:		#888;
	border:		1px solid #888;
	padding:	0.5em 0 0.5em 0;
	text-align:	center;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	-webkit-border-radius: 0.5em;
}

.badge {
	position:	absolute;
	top:		0px;
	right:		0px;
}

.logo {
	display:	block;
	margin:		0.5em auto 0.5em;
}

div.product h2, div.product h3 {
	color:		#000;
	margin:		0.5em 0 0.5em 0;
	text-shadow: #fff 0 1px 0;
	max-width:	100%;
}

div.product h3 {
	font-size:	1em;
}

div.product h3 a {
	font-weight: bold;
}

div.product p {
	margin:		0 0 0.5em 0;
	max-width:	100%;
}

div.product hr {
	margin:		0 0 0.5em 0;
}

div.cat {
	float:left;
	line-height: 1em;
	margin:		0 3em 0 0;
}

div.cat h2 {
	font-size:	1em;
	font-weight: bold;
	margin:		1em 0 1em 0;
}

ul.mini {
	list-style-type: none;
	margin:		0 0 1em 0;
	padding:	0;
	overflow:	hidden;
}

ul.mini li {
	float:		left;
	margin:		0 2em 0 0;
}

hr {
	border:		none;
	height:		1px;
	margin:		1.5em 0 1.5em 0;
	background:	#888;
	clear:		both;
}

p, ol, ul {
	margin:		0 0 1em 0;
	max-width:	42em;
}

ol, ul {
	padding:	0 0 0 1.75em;
}

ul {
	list-style: square;
}

pre {
	font-family: Menlo, Courier, monospace;
	font-size:	0.8em;
	width:		50em;
	border-top:	1px solid #888;
	border-bottom: 1px solid #888;
	margin:		1em 0 1em 0;
	padding:	0.25em 0.75em 0.25em;
	overflow:	auto;
}

q {
	display:	block;
	margin:		0 0 0 0.3em;
	text-indent: -0.3em;
}

q:before {
	content:	"“";
}

q:after {
	content:	"”";
}

q.de:before {
	content:	"„";
}

q.de:after {
	content:	"“";
}

cite {
	display:	block;
	margin:		0 0 1em 0;
	text-align:	right;
	color:		#aaa;
	font-style:	normal;
}

cite:before {
	content:	"—";
}

em.new {
	font-weight: normal;
	color:		#56e;
	margin-left: 0.5em;
}

.note {
	color:		#aaa;
}

.note a {
	color:		#555;
}

ul.toc {
	font-size:	0.8em;
	margin:		0 0 1em 0;
}

ul.features {
	list-style-type: none;
	padding:	0;
}

ul.features li {
	margin:		0 0 1.5em 0;
	overflow:	hidden;
}

ul.features img {
	float:		left;
	margin:		0 0.75em 0.25em 0;
}

ul.portfolio {
	list-style-type: none;
	padding:	0;
	margin:		2em 0 2em 0;
	overflow:	hidden;
	max-width:	100%;
}

ul.portfolio li {
	float:		left;
	width:		30%;
	min-height:	8em;
	margin:		0 2.5em 2em 0;
	padding:	0 1em 0 96px;
	background:	#eee;
	border:		2px solid #aaa;
	-webkit-border-radius: 0.7em;
	overflow:	hidden;
}

ul.portfolio li:hover {
	border-color: #888;
}

ul.portfolio img {
	float:		left;
	margin:		1.5em 0 0 -80px;
}

ul.portfolio h2 {
	margin:		0.5em 0 0.5em 0;
}

p.intro {
	font-style:	italic;
	margin-bottom: 1.5em;
}

h2 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.5em;
	margin:		2em 0 1em 0;
	max-width:		20em;
}

h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.25em;
	margin:		2em 0 1em 0;
	max-width:		24em;
}

div.caption {
	clear:		both;
	margin:		2em 0 2em 2em;
}

div.caption img {
	display:	block;
	margin:		0 0 0.25em 0;
}

img.bord {
	background:	#fff;
	border:		1px solid #888;
	padding:	3px;
}

div.caption p {
	margin:		0;
	font-size:	0.9em;
}

table {
	margin:		0 0 0.5em;
	border-top:	1px solid #888;
	border-bottom: 1px solid #888;
	border-spacing: 0;
}

table td, th {
	padding:	0 0.2em 0;
}

tr.specs {
	background:	inherit;
}

tr.specs th {
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding:	0 0.5em 0;
}

th {
	text-align:	left;
	padding:	0 0.5em 0;
}

td {
	text-align:	center;
}

#bymeta {
	clear:		both;
	margin:		3em 0 0 0;
	padding:	1.5em 1.5em 1.5em 3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color:		#aaa;
	background:	#202020 url(bymeta.png) repeat-x top left;
	overflow:	hidden;
}

#bymeta em {
	font-style:	normal;
	white-space: nowrap;
}

#bymeta img {
	float:		right;
	margin:		0 1em 0 0;
	border:		none;
}

#bymeta ul.mini  {
	margin:		0.75em 2em 0 0;
	float:		right;
}

#bymeta ul.mini li {
	margin-right: 0.5em;
}

#bymeta ul.mini li:before {
	content:	"·";
	margin-right: 0.5em;
	font-weight: normal;
}

#bymeta ul.mini li:first-child:before {
	content:	"";
}

#bymeta a {
	color:		#fff;
	border:		none;
	font-weight: inherit;
	text-shadow: none;
	text-decoration: none;
}

#bymeta a:hover {
	text-decoration: underline;
}

#bymeta p {
	margin:		0;
}
