/* Useless Coding style */

body {
	background:	#bec2c7;
	color:		#000;
	font-family: Georgia, serif;
	font-size:	10pt;
	line-height: 1.4em;
	margin:		0;
}

a {
	color:		#282d55;
	font-weight: bold;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
}

a:hover {
	color:		#5f6abf;
	text-decoration: underline;
}

#uclogo {
	display:	block;
	float:		right;
	margin:		0 7.5em 1em 2em;
}

#title {
	font-size:	3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.25em;
	margin:		1.25em 0 0.75em 1em;
	padding:	0;
}

#nav {
	margin:		0em 0 1em 3.75em;
	font-family: 'Helvetica Neue', Arial, sans-serif;	
	font-size:	.8em;
	list-style:	none;
	padding:	1em 0 0 0;
	overflow:	hidden;
}

#nav li {
	float:		left;
	margin:		0 .5em 0 0;
}

#nav a {
	color:		#000;
	text-shadow: none;
	text-decoration: none;
}

#product {
	background:	#dee0e3;
	border:		1px solid #888;
	margin:		0 5em 2em 2em;
	padding:	0.5em 0 0.5em 0;
	width:		15em;
	float:		right;
	text-align:	center;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	-webkit-border-radius: 0.5em;
}

#product .logo {
	display:	block;
	margin:		0.5em auto 0.5em;
}

#product h1 {
	margin:		0.5em 0 0.5em 0;
}

#product p {
	margin:		0 0 0.5em 0;
}

#product hr {
	border:		none;
	height:		1px;
	margin:		0 0 0.75em 0;
	background:	#888;
}

p {
	margin:		0 0 1em 3em;
	max-width:	42em;
}

ol, ul {
	margin:		0 0 1em 3em;
	padding:	0 0 0 1.75em;
}

ul {
	list-style: square;
}

em.new {
	color:		#fff;
	margin-left: 0.5em;
}

.note {
	color:		#777;
}

.note a {
	color:		inherit;
}

ul.toc {
	font-size:	0.8em;
	margin:		0 0 1em 5em;
	line-height: 1.4em;
}

ul.products {
	background:	#dee0e3;
	border:		1px solid #888;
	list-style:	none;
	margin:		2em 5em 2em 5em;
	padding:	0;
	overflow:	hidden;
	max-width:	40em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	-webkit-border-radius: 0.5em;
}

ul.products a {
	color:		inherit;
}

ul.products li {
	float:		left;
	min-width:	11em;
	text-align:	center;
	margin:		1em;
}

ul.products img {
	display:	block;
	margin:		0 auto 0;
}

ul.products h1 {
	font-size:	1.25em;
	margin:		0.5em 0 0 0;
}

ul.products p {
	color:		#888;
	font-size:	0.9em;
	margin:		0;
}

p.intro {
	clear:		both;
	font-style:	italic;
	margin-bottom: 2em;
}

h1 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.5em;
	margin:		2em 0 1em 2em;
	max-width:		20em;
}

h2, h3, h4, h5 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.25em;
	margin:		2em 0 1em 2.4em;
	max-width:		24em;
}

div.caption {
	clear:		both;
	margin:		2em 0 2em 5em;
}

div.caption img {
	display:	block;
	margin:		0 0 0.25em 0;
}

img.bord {
	background:	#fff;
	border:		1px solid #888;
	padding:	3px;
}

div.caption p {
	margin-left: 0;
	font-size:	0.9em;
}

table {
	margin:		0 0 0.5em;
	border-top:	1px solid #000;
	border-bottom: 1px solid #000;
	border-spacing: 0;
}

table td, th {
	padding:	0 0.2em 0;
}

tr.specs {
	background:	inherit;
}

tr.specs th {
	text-align: center;
	border-bottom: 1px solid #888;
	padding:	0 0.5em 0;
}

th {
	text-align:	left;
	padding:	0 0.5em 0;
}

td {
	text-align:	center;
}

#bymeta {
	clear:		both;
	margin:		3em 0 0 0;
	padding:	1.5em 1.5em 1.5em 3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color:		#aaa;
	background:	#202020 url(bymeta.png) repeat-x top left;
	overflow:	hidden;
}

#bymeta em {
	font-style:	normal;
	white-space: nowrap;
}

#bymeta img {
	float:		right;
	margin:		0 1em 0 0;
	border:		none;
}

#bymeta a {
	color:		#fff;
	border:		none;
	font-weight: inherit;
	text-shadow: none;
	text-decoration: none;
}

#bymeta a:hover {
	text-decoration: underline;
}

#bymeta p {
	margin:		0;
}
