/* Useless Coding style */

body {
	background:	#fff;
	color:		#000;
	font-family: Georgia, serif;
	font-size:	10pt;
	line-height: 1.4em;
	margin:		0;
}

a {
	color:		#56e;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.wrapper {
	margin:		0 auto 0;
	padding:	0 0 0 3em;
	width:		750px;
}

#head {
	width:		100%;
	margin:		0 0 1.5em 0;
	background:	#bec2c7;
	border-bottom: 1px solid #888;
}

#uclogo {
	display:	block;
	float:		right;
	margin:		0 28px 1em 2em;
}

h1 {
	font-size:	3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.25em;
	margin:		1.5em 0 0.5em 0;
	padding:	0;
}

#nav {
	margin:		0em 0 1em 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;	
	font-size:	.8em;
	list-style:	none;
	padding:	1em 0 0 0;
	overflow:	hidden;
}

#nav li {
	float:		left;
	margin:		0 1.5em 0 0;
	padding:	0;
}

#nav li.act {
	font-weight: bold;
}

#head a {
	color:		#000;
	text-shadow: none;
	text-decoration: none;
}

#head a:hover {
	color:		#5f6abf;
}

#head ul.toc {
	list-style:	none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	max-width:	100%;
	padding:	0;
	margin:		0 30px 0em 0;
	overflow:	hidden;
	font-size:	1em;
	line-height: 1em;
}

#head ul.toc li {
	float:		left;
	margin:		0 1.5em 1em 0;
	padding:	0.2em 0 0.2em;
	border-bottom: 2px solid transparent;
}

#head ul.toc a {
	font-weight: bold;
}

#head ul.toc li.main {
	background:	#fff;
	margin-right: 1em;
	border:		1px solid #888;
	padding:	0.2em 0.5em 0.2em;
	float:		right;
	-webkit-box-shadow: #888 0 1px 2px;
}

#head ul.toc li.act {
	border-color: #888;
}

#head ul.toc small {
	color:		#888;
	font-size:	1em;
	display:	block;
}

#hero {
	margin:		0 0 1.5em 0;
	width:		720px;
	border:		1px solid #888;
	padding:	0;
}

#hero img {
	display:	block;
	margin:		0;
}

#product {
	background:	#eee;
	color:		#888;
	border:		1px solid #888;
	margin:		0 30px 2em 2em;
	padding:	0.5em 0 0.5em 0;
	width:		16em;
	float:		right;
	text-align:	center;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	-webkit-border-radius: 0.5em;
}

#product .logo {
	display:	block;
	margin:		0.5em auto 0.5em;
}

#product h2, #product h3 {
	color:		#000;
	margin:		0.5em 0 0.5em 0;
	text-shadow: #fff 0 1px 0;
}

#product h3 {
	font-size:	1em;
}

#product h3 a {
	font-weight: bold;
}

#product p {
	margin:		0 0 0.5em 0;
}

#product hr {
	border:		none;
	height:		1px;
	margin:		0 0 0.75em 0;
	background:	#888;
}

p, ol, ul {
	margin:		0 0 1em 0;
	max-width:	42em;
}

ol, ul {
	padding:	0 0 0 1.75em;
}

ul {
	list-style: square;
}

em.new {
	font-weight: normal;
	color:		#78f;
	margin-left: 0.5em;
}

.note {
	color:		#aaa;
}

.note a {
	color:		#888;
}

ul.toc {
	font-size:	0.8em;
	margin:		0 0 1em 2em;
	line-height: 1.4em;
}

ul.gallery {
	list-style:	none;
	margin:		2em 5em 2em 5em;
	padding:	0;
	overflow:	hidden;
	max-width:	40em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

ul.gallery a {
	color:		inherit;
}

ul.gallery li {
	float:		left;
	min-width:	11em;
	text-align:	center;
	margin:		1em;
}

ul.gallery img {
	display:	block;
	margin:		0 auto 0;
}

ul.gallery h2 {
	font-size:	1.25em;
	margin:		0.5em 0 0 0;
}

ul.gallery p {
	color:		#888;
	font-size:	0.9em;
	margin:		0;
}

p.intro {
	font-style:	italic;
	margin-bottom: 2em;
}

h2 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.5em;
	margin:		2em 0 1em 0;
	max-width:		20em;
}

h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-size:	1.25em;
	margin:		2em 0 1em 0;
	max-width:		24em;
}

div.caption {
	clear:		both;
	margin:		2em 0 2em 2em;
}

div.caption img {
	display:	block;
	margin:		0 0 0.25em 0;
}

img.bord {
	background:	#fff;
	border:		1px solid #888;
	padding:	3px;
}

div.caption p {
	margin:		0;
	font-size:	0.9em;
}

table {
	margin:		0 0 0.5em;
	border-top:	1px solid #888;
	border-bottom: 1px solid #888;
	border-spacing: 0;
}

table td, th {
	padding:	0 0.2em 0;
}

tr.specs {
	background:	inherit;
}

tr.specs th {
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding:	0 0.5em 0;
}

th {
	text-align:	left;
	padding:	0 0.5em 0;
}

td {
	text-align:	center;
}

#bymeta {
	clear:		both;
	margin:		3em 0 0 0;
	padding:	1.5em 1.5em 1.5em 3em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color:		#aaa;
	background:	#202020 url(bymeta.png) repeat-x top left;
	overflow:	hidden;
}

#bymeta em {
	font-style:	normal;
	white-space: nowrap;
}

#bymeta img {
	float:		right;
	margin:		0 1em 0 0;
	border:		none;
}

#bymeta a {
	color:		#fff;
	border:		none;
	font-weight: inherit;
	text-shadow: none;
	text-decoration: none;
}

#bymeta a:hover {
	text-decoration: underline;
}

#bymeta p {
	margin:		0;
}
